# API Gateway URLs (for production via API gateway)
# Use these URLs when accessing through the API gateway
NEXT_PUBLIC_BACKEND_URL=http://localhost:5000/api/nestjs
NEXT_PUBLIC_PYTHON_BACKEND_URL=http://localhost:5000/api/gsea
NEXT_PUBLIC_SITE_URL=http://localhost:5000
NEXT_PUBLIC_DATA_COMMONS_DEFAULT_FOLDER_PATH=/data1

# For Development (direct access without API gateway)
# Uncomment these when running services individually during development
# NEXT_PUBLIC_BACKEND_URL=http://localhost:4000
# NEXT_PUBLIC_PYTHON_BACKEND_URL=http://localhost:5000
# NEXT_PUBLIC_SITE_URL=http://localhost:3000

# For Basic Auth in the tool
AUTH_MAP="user1=password1;user2=password2"
NEXT_PUBLIC_DATA_COMMONS_DEFAULT_FOLDER_PATH=/data_commons_host_folder