@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: white;
    --foreground: #273386;
    --card: white;
    --card-foreground: #273386;
    --popover: white;
    --popover-foreground: #273386;
    --primary: #273386;
    --primary-foreground: white;
    --secondary: white;
    --secondary-foreground: #273386;
    --muted: #f3f4f6;
    --muted-foreground: #273386;
    --accent: #efab00;
    --accent-foreground: #273386;
    --destructive: #273386;
    --destructive-foreground: white;
    --border: #273386;
    --input: #273386;
    --ring: #273386;
    --radius: 0.5rem;
  }

  .dark {
    --background: #273386;
    --foreground: white;
    --card: #1e2968;
    --card-foreground: white;
    --popover: #1e2968;
    --popover-foreground: white;
    --primary: white;
    --primary-foreground: #273386;
    --secondary: #1e2968;
    --secondary-foreground: white;
    --muted: #1e2968;
    --muted-foreground: white;
    --accent: #efab00;
    --accent-foreground: #273386;
    --destructive: white;
    --destructive-foreground: #273386;
    --border: white;
    --input: #1e2968;
    --ring: #efab00;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

